body {
    background: white;
    color:      black;
    margin:         0;
    padding:        0;
}

body, input, select {
    font: 10pt Verdana, sans-serif;
}

h1, h2, h3, h4 {
    margin-top:     0.25em;
    margin-bottom:  0.25em;
    text-align: center;
}

h1 { font-size: 21pt }
h2 { font-size: 18pt }
h3 { font-size: 15pt }
h4 { font-size: 12pt }

.anchor, a, a:visited {
    color: #0000a0;
    cursor: pointer;
    text-decoration: none;
}

.anchor:hover, a:hover {
    text-decoration: underline;
}
