body {
    margin:     0;
    padding:    0;
    overflow:   hidden;
}

canvas#Board {
    border: 1px solid blue;
    background: #80a0ff;
    margin: 4px;
}

#LeftColumn {
    position: absolute;
    overflow: auto;
}

#RightColumn {
    position: absolute;
    overflow: auto;
    background: #f0f0f0;
}

#RightColumnContents {
    position: absolute;
    margin-left: 4px;
    padding: 0.5em;
}

#ColumnSplitter {
    background: #a0a0a0;
    height: 100%;
    width: 4px;
    position: absolute;
}

.Draggable {
    cursor: pointer;
}

button.Icon {
    margin:     4px;
    width:      64px;
    height:     64px;
    display:    inline-block;
    cursor:     pointer;
    border:     0;
}

input.ColorButton {
    display: none;
}
label.ColorButton, label.WhiteColorButton {
    display: inline-block;
    width:   2em;
    height:  2em;
    border:  0;
    border-radius: 2em;
    margin: 0.4em 0.2em 0.4em 0.2em; 
    position: relative;
}
label.ColorButton {
    text-align: center;
}
input.ColorButton:checked + label.ColorButton {
    border: 0.4em solid black;
    margin: 0;
}
label.WhiteColorButton {
    border:  1px dashed #888;
}
label.ColorButton span {
    position:absolute;
    left:  0;
    right: 0;
    font-size: 1.4em;  /* why?!! */
    text-align:center;
    color:white;
}

#MoveButton0               { background: url("../icons/reset1.png"); background-size: 100%; }
#MoveButton0:hover         { background: url("../icons/reset2.png"); background-size: 100%; }
#MoveButton0:disabled      { background: url("../icons/reset0.png"); background-size: 100%; }

#MoveButton1               { background: url("../icons/move1.png"); background-size: 100%; }
#MoveButton1:hover         { background: url("../icons/move2.png"); background-size: 100%; }
#MoveButton1:disabled      { background: url("../icons/move0.png"); background-size: 100%; }

#MoveButton2               { background: url("../icons/explode1.png"); background-size: 100%; }
#MoveButton2:hover         { background: url("../icons/explode2.png"); background-size: 100%; }
#MoveButton2:disabled      { background: url("../icons/explode0.png"); background-size: 100%; }

#MoveButton3               { background: url("../icons/grow1.png"); background-size: 100%; }
#MoveButton3:hover         { background: url("../icons/grow2.png"); background-size: 100%; }
#MoveButton3:disabled      { background: url("../icons/grow0.png"); background-size: 100%; }

.PlayerScore
{
    text-align:     center;
    display:        inline-block;
    font-size:      12pt;
    min-width:      6em;
    margin:         4px;
    border-radius:  1em;
}

.PlayerScore.Next
{
    border:         4px solid black;
    margin:         0;
}

.PlayerScore .Name
{
    color:          #eee;
}

.PlayerScore .Score
{
    color:          white;
    font-weight:    bold;
    font-size:      20pt;
}
